<app-header pagetitle="Other Links & Product Info"></app-header>
<ion-content >

  <div id="container" class="ion-padding">
    <ion-button class="ion-text-capitalize" color="danger" mode="md" expand="full" size="large" routerLink="/trainingvideos"  routeDirection="forward"  >
      Videos
    </ion-button>
    <br>
    <ion-button class="ion-text-capitalize" color="danger" mode="md" expand="full" size="large" routerLink="/listotherlinks/Other Links"  routeDirection="forward"  >
      Other Links
    </ion-button>
    <br>
    <ion-button class="ion-text-capitalize" color="danger" mode="md" expand="full" size="large" routerLink="/listotherlinks/Product Info"  routeDirection="forward" >
      Product Info
    </ion-button>
  </div>
</ion-content>
<app-fabs></app-fabs>