@font-face {
    font-family: 'Geogrotesque';
    font-style: normal;
    font-weight: normal;
   // src: url('src/assets/fonts/Geogtq-Rg.otf');
   src: url('src/assets/fonts/Geogtq-Md.otf');
}

// @font-face {
//     font-family: 'Liberation Serif';
//     font-style: normal;
//     font-weight: bold;
//     src: url('src/assets/fonts/liberationserif-bold.ttf');
// }

// @font-face {
//     font-family: 'Liberation Serif';
//     font-style: italic;
//     font-weight: normal;
//     src: url('src/assets/fonts/liberationserif-italic.ttf');
// }

// @font-face {
//     font-family: 'Liberation Serif';
//     font-style: italic;
//     font-weight: bold;
//     src: url('src/assets/fonts/liberationserif-bold-italic.ttf');
// }