mat-option {
    font-size: inherit !important;
    line-height: 3em !important;
    height: 2.5em !important;
}

ion-toolbar {
    border: none;
}

.bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}