<app-header pagetitle="Product Search"></app-header>

<ion-content class="ion-padding-top">

  <div class="ion-padding ion-text-center">

    <ion-grid>
      <ion-row>
        <ion-col size="6" routerLink="/make/Passenger Car & Light Commercial">
          <img class="myIcon" src="../../../assets/img/passengercarsp.png">
          <ion-text color="light">
            <div class="ion-text-center">
              Passenger Car & Light Commercial
            </div>
          </ion-text>
        </ion-col>
        <ion-col size="6" routerLink="/make/Heavy Commercial">
          <img class="myIcon" src="../../../assets/img/heavycommercialsp.png">
          <ion-text color="light">
            <div class="ion-text-center">
              Heavy Commercial
            </div>
          </ion-text>
        </ion-col>

        <ion-col size="6" routerLink="/make/2 Wheeler">
          <img class="myIcon" src="../../../assets/img/twowheelersp.png">
          <ion-text color="light">
            <div class="ion-text-center">
              2 Wheeler
            </div>
          </ion-text>
        </ion-col>
        <ion-col size="6" routerLink="/searchoegatescrossref"  >
          <img class="myIcon" src="../../../assets/img/vehicle_search.png">
          <ion-text color="light">
            <div class="ion-text-center">
              OE / Gates / Cross Ref Number Search
            </div>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>

<app-fabs></app-fabs>