<app-header pagetitle="About Us"></app-header>
<ion-content>
  <div class="sticky-top">
    <img class="img-fluid" style="width: 100%;"  src="../../../assets/img/about_gate_breif.png">
  </div>
  <div class="ion-text-center ion-padding-top">
    <ion-text color="light">
      <h4> We made the First, Still making the Best</h4>
    </ion-text>
  </div>

  <div class="ion-padding-start ion-padding-end">
    <hr class="new1">
  </div>
  <div class="ion-padding-start">
    <ion-text color="light">
      Gates Corporation is the world's leading manufacture of power transmission belts and a premier global manufacturer
      of
      fluid power products. Our highly engineered products are critical components used in diverse industrial and
      automotive applications where the cost of failure is vert high relative to the cost of our products.
      We provide a differentiated value proposition to our customers by offering a complete portfolio of premiun product
      and service solutions for both replacement and first-fit applications across our targeted end markets, which
      encompass process and specialty, construction, agriculture, energy, transporation, and automotive.
      We sell our products globally under the Gates brnd, which is recognized by distributors, original equipment
      manufactures, and installers as the premuim brand for quality and technological innovation, a reputation which we
      have built for over a century since our founding in 1911.
    </ion-text>
    <div class="ion-padding-end">
      <hr class="new1">
    </div>
    <ion-text color="light">
      Our Products and services serve customers in the following end market segements :
    </ion-text>

    <ol>
      <li>Energy, Emploration & Extration (Oil & Gas)</li>
      <li>Infrastructure & Agriculture (Mobile Equipment)</li>
      <li>Transportation (Fleet & Heavy-Duty)</li>
      <li>Automotive (Passenger Cars & Light Trucks)</li>
      <li>Process & Specialty (Manufacturing)</li>
    </ol>
    <div class="ion-padding-end">
      <hr class="new1">
    </div>

    <ion-text color="light">
      As an engineering leader with a strong foundation in research and development, Gates is committed
      to advancing the science of motion performance by developing safe, forward-thinking products, services, systems,
      and solutions,
      as well as fostering long-term customer and employee relationships. Headquartered in Denver, Colorado, Gates
      employs over 14,000
      people across 106 locations in 30 countries.
    </ion-text>
    <div class="ion-padding-end">
      <hr class="new1">
    </div>

    <ion-text color="light">
      Gates Unitta India Company Private Limited (GUIC) incorporated in 2002 at Sripremubudur near Chennai,
      combines all of the groups capabilities including, R&amp;D, Manufacturing, Distribution and offers Sales Technical
      Support to
      give world-class products and services through out Indian Sub-Continent. GUIC functions as an integral part of
      Gates worldwide
      power transmission business to assuring all customers of global capability unmatched by any other competitors.
    </ion-text>

    <div class="ion-padding-end">
      <hr class="new1">
    </div>

    <div class="ion-text-center">
      <ion-text color="light">
        GATES is committed to a drive solution for every vehicle.
      </ion-text>
    </div>

    <ion-text color="light" class="ion-padding-top">
      If it moves you, there's a good chance Gates has a part in it. Gates. Powering Progress.
    </ion-text>
    <br>

    <div class="ion-padding-end">
      <hr class="new1">
    </div>


  </div>
</ion-content>
<!-- <app-fabs></app-fabs> -->