.fixed-header {
    // margin-top:4px;    
    position: relative;
 }

// .my-video {
//   height:200px;
//   width:100%;
//   position:absolute;
//   background:grey;
//   color:red;
//   text-align:center;
//   padding:20px;
// }
li {
    color : #f4f5f8;
    list-style-type: disc;
    // list-style-type: bullets ;
}